@page "/Teachers/index"
@using EDI.Web.Shared.Modals;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IToastService toastService;
@inject ITeacherService teacherService;
@inject ISharedService sharedService;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;
@inject ServiceContext dbContext;
@inject AppIdentityDbContext identityContext;

@inject UserSettings UserSettings;
@inject IMathService mathService;

<div class="row">
    <div class="col-md-12">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:30px;">
            <div class="card-header">
                <strong>@Header</strong>
                <div class="pull-right">

                </div>
            </div>
            <div class="card-body">
                @if (teachers == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <SfGrid ID="GridTeacher" @ref="Grid" DataSource="@teachers" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowResizing="true" ShowColumnMenu="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "ExcelExport", "CsvExport", "Search" })" AllowExcelExport="true" AllowPdfExport="true">
                        <GridEditSettings AllowAdding="true" AllowEditing="@AllowEdit" AllowDeleting="@AllowDelete" ShowDeleteConfirmDialog="false"></GridEditSettings>
                        <GridEvents OnToolbarClick="ToolbarClick" RowSelected="RowSelect" OnRecordDoubleClick="RecordDoubleClickHandler" TValue="TeacherItemViewModel"></GridEvents>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridPageSettings PageSize="20" PageSizes="true"></GridPageSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="TeacherName" Direction="SortDirection.Ascending"></GridSortColumn>
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(TeacherItemViewModel.TeacherNumber) HeaderText="Teacher #" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Right" Width="10"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.TeacherName) HeaderText="Name" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.Children) HeaderText="# of Children" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.Ediyear) Type="ColumnType.Number" HeaderText="Year" Width="10"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.SchoolName) HeaderText="School" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.Email) HeaderText="Email" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.PhoneNumber) HeaderText="Phone" Width="30"></GridColumn>
                            <GridColumn HeaderText=@Translate("Status") Width="15">
                                <Template>
                                    @{
                                        <h6>@Translate("In Progress")</h6>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText=@Translate("% Complete") Width="25">
                                <Template>
                                    @{
                                        var comm = (context as TeacherItemViewModel);
                                        <div id="myProgress" class="pbar">
                                            <div id="myBar" style="width:@comm.Progress%" class="bar">
                                                <div id="label" class="barlabel">@comm.Progress % </div>
                                            </div>
                                        </div>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn HeaderText="" Width="20">
                                <Template>
                                    @{
                                        var comm = (context as TeacherItemViewModel);
                                        <button data-toggle="tooltip" data-placement="bottom" title="Profile" @onclick="@(() => GotoQuestionnaire(comm.Id))" style="border:none;background-color:transparent;"><img src="./images/arrow-right-chrome.gif" style="width: 30px; height: 30px; margin-top: -8px;"><b style="font-size:18px;">Profile</b><img src="./images/arrow-left-chrome.gif" style="width: 30px; height: 30px; margin-top: -8px;"></button>
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                }

            </div>

        </div>
    </div>
</div>

@code {
    [CascadingParameter] public IModalService ModalService { get; set; }
    [Parameter]
    public int SchoolID { get; set; } = 0;
    [Parameter]
    public string Header { get; set; } = "Teacher Management";
    [Parameter]
    public bool AllowDelete { get; set; } = true;
    [Parameter]
    public bool AllowEdit { get; set; } = true;

    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    SfGrid<TeacherItemViewModel> Grid;

    IEnumerable<TeacherItemViewModel> teachers;

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else if (!UserSettings.IsAdmin)
        {
            NavigationManager.NavigateTo("./dashboard/index");
        }
        else
        {
            var allteachers = await Task.FromResult(dbContext.Teachers.OrderBy(p => p.TeacherNumber).ToList());

            if (SchoolID > 0)
            {
                allteachers = await Task.FromResult(dbContext.Teachers.Where(p => p.SchoolId == SchoolID).OrderBy(p => p.TeacherNumber).ToList());
            }

            List<TeacherItemViewModel> sivm = new List<TeacherItemViewModel>();

            foreach (var teacher in allteachers)
            {
                var ateacher = new TeacherItemViewModel();

                ateacher.Id = teacher.Id;
                ateacher.TeacherName = teacher.TeacherName;
                ateacher.TeacherNumber = teacher.TeacherNumber;
                ateacher.Email = teacher.Email;
                ateacher.PhoneNumber = teacher.PhoneNumber;
                ateacher.YearId = teacher.YearId;
                ateacher.Children = dbContext.Children.Where(p => p.TeacherId == teacher.Id).Count();

                var year = dbContext.Years.Where(p => p.Id == teacher.YearId).FirstOrDefault();
                ateacher.Ediyear = year.Ediyear;

                ateacher.SchoolId = teacher.SchoolId;
                var school = dbContext.Schools.Where(p => p.Id == teacher.SchoolId).FirstOrDefault();
                ateacher.SchoolName = school.SchoolName;
                ateacher.SchoolNumber = school.SchoolNumber;
                ateacher.Progress = mathService.GetRandomPercent(1, 99);
                sivm.Add(ateacher);
            }

            this.rowid = 0;
            teachers = sivm;
        }
    }

    private int rowid { get; set; }

    private void RowSelect(RowSelectEventArgs<TeacherItemViewModel> args)
    {
        rowid = args.Data.Id;
    }

    public async void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "GridTeacher_pdfexport")
        {
            this.Grid.PdfExport();
        }
        if (args.Item.Id == "GridTeacher_excelexport")
        {
            this.Grid.ExcelExport();
        }
        if (args.Item.Id == "GridTeacher_csvexport")
        {
            this.Grid.CsvExport();
        }
        if (args.Item.Id == "GridTeacher_add")
        {
            NavigationManager.NavigateTo("./teachers/new");
            //NewInvoice();
        }
        if (args.Item.Id == "GridTeacher_edit")
        {
            NavigationManager.NavigateTo("./teachers/edit/" + this.rowid);
        }
        if (args.Item.Id == "GridTeacher_delete")
        {
            var modal = ModalService.Show<ConfirmDelete>("Confirm Delete");
            var result = await modal.Result;
            ConfirmDeleteModalClosed(result);
        }
    }

    async void ConfirmDeleteModalClosed(Blazored.Modal.Services.ModalResult modalResult)
    {
        if (!modalResult.Cancelled)
        {
            await teacherService.DeleteTeacherAsync(this.rowid);

            var tmp = new List<TeacherItemViewModel>();
            foreach (var item in teachers)
            {
                if (item.Id != rowid)
                    tmp.Add(item);
            }
            this.teachers = tmp;
            this.rowid = 0;

            //this.Grid.Refresh();
            StateHasChanged();
        }

        //*Modal.OnClose -= ConfirmDeleteModalClosed;
    }

    private void RecordDoubleClickHandler(RecordDoubleClickEventArgs<TeacherItemViewModel> args)
    {
        NavigationManager.NavigateTo("./teachers/edit/" + this.rowid);
    }

    private void GotoQuestionnaire(int id)
    {
        NavigationManager.NavigateTo("./TeacherProfile/Index/" + id);
    }

    private string Translate(string word)
    {
        return sharedService.GetTranslate(word);
    }
}
