@page "/Dashboard/index"
@using Microsoft.AspNetCore.Components.Authorization
@using EDI.Web.Shared.BusinessIntelligence
@using EDI.Web.Shared.Verification
@using EDI.Web.Shared.Questionnaires
@using EDI.Web.Pages.NewsFeeds
@using System.Linq.Dynamic.Core

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;
@inject ServiceContext dbContext;
@inject AppIdentityDbContext identityContext;
@inject IMathService MathService;
@inject UserSettings UserSettings;
@inject ISharedService sharedService;

<div class="row">
    <div class="col-md-12">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:30px;">
            @if (IsAdmin)
            {
                <div class="card-header">
                    <strong>@Translate("Administrator Dashboard") </strong> - @UserSettings.FirstName  @UserSettings.LastName
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sites</div>
                                                <div class="h3 mb-0 font-weight-bold text-gray-800">@sites</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-sitemap fa-3x text-primary"></i>
                                                <!--style="font-size:120px;color:blue">-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Schools</div>
                                                <div class="h3 mb-0 font-weight-bold text-gray-800">@schools</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-school fa-3x text-secondary"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Teachers</div>
                                                <div class="h3 mb-0 font-weight-bold text-gray-800">@teachers</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-chalkboard-teacher fa-3x  text-success"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Children</div>
                                                <div class="h3 mb-0 font-weight-bold text-gray-800">@children</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-child fa-3x  text-warning"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 mb-4">
                                <!-- EDI Questionnaires Status -->
                                <QuestionnaireStatusBar Header="EDI Questionnaires" Total="@children" />

                                <!-- Participation Questionnaires Status -->
                                <QuestionnaireStatusBar Header="Teacher Participation Questionnaires" Total="@teachers" />

                                <!-- Teacher Training Questionnaires Status -->
                                <QuestionnaireStatusBar Header="Teacher Training Questionnaires" Total="@teachers" />
                            </div>
                            <div class="col-lg-4 mb-4">
                                <!--<div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h4 class="text-dark" >This is a test header</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="small font-weight-normal">This is my message.</div>
                                    </div>
                                </div>-->
                                <EDI.Web.Pages.NewsFeeds.Newslist />
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (IsTeacher)
            {
                <div class="card-header">
                    <strong>@Translate("Teacher Dashboard") </strong> - @UserSettings.FirstName  @UserSettings.LastName
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Translate("Children")</div>
                                                <div class="h3 mb-0 font-weight-bold text-gray-800">@children</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fa fa-child fa-3x  text-warning"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8 mb-4">
                                <!-- EDI Questionnaires Status -->
                                <QuestionnaireStatusBar Header=@Translate("EDI Questionnaires") Total="@children" />

                                <QuestionnaireChecklist IsComplete=false QuestionnaireName=@Translate("Teacher Participation Questionaire") URL="/Dashboard/Index" />
                                <QuestionnaireChecklist IsComplete=true QuestionnaireName=@Translate("Teacher Training Feedback Questionaire") URL="/Dashboard/Index" />
                            </div>
                            <div class="col-lg-4 mb-4">
                                <EDI.Web.Pages.NewsFeeds.Newslist />
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-header">
                    <strong>@Translate("Coordinator Dashboard")</strong> - @UserSettings.FirstName  @UserSettings.LastName
                </div>
                <div class="card-body">
                </div>
            }
        </div>
    </div>
</div>

@code {


    private bool IsAdmin { get; set; }
    private bool IsTeacher { get; set; }
    private bool IsCoordinator { get; set; }

    private int sites { get; set; }
    private int schools { get; set; }
    private int teachers { get; set; }
    private int children { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            @if (UserSettings.IsAdmin)
            {
                IsAdmin = true;

                //TODO - where year = year
                var predicate = "yearid ==" + UserSettings.YearId;
                sites = dbContext.Sites.Where(predicate).Count();
                schools = dbContext.Schools.Where(predicate).Count();
                teachers = dbContext.Teachers.Where(predicate).Count();
                children = dbContext.Children.Where(predicate).Count();
            }
            else if (UserSettings.IsTeacher)
            {
                IsTeacher = true;
                var teacher = dbContext.Teachers.Where(t => t.UserId == UserSettings.UserID  && t.YearId == UserSettings.YearId)
                    .Include(c => c.Children)
                    .Single();
                // count of the children
                children = teacher.Children.Count();
            }
            else
            {
                IsCoordinator = true;
            }
        }
    }

    private string Translate(string word)
    {
        return sharedService.GetTranslate(word);
    }
}
