@inject NavigationManager NavigationManager
@inject ICoordinatorService coordinatorService
@inject ISharedService sharedService
@inject IAccountService accountService
@inject ServiceContext dbContext;

<EditForm Model="@CoordinatorModel" OnValidSubmit="@HandleValidSubmit" enctype="multipart/form-data" class="form-horizontal">
    <div class="card-body">
        <DataAnnotationsValidator />
        <div class="text-danger"><ValidationSummary /></div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Name">Name<i class="fa fa-asterisk fa-1x text-danger" data-toggle="tooltip" data-placement="right" title="Required field."></i>: </label>
            <input type="text" @bind-value="CoordinatorModel.CoordinatorName" class="col-md-7 form-control" placeholder="Name" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Email">Email<i class="fa fa-asterisk fa-1x text-danger" data-toggle="tooltip" data-placement="right" title="Required field."></i>: </label>
            <input type="text" @bind-value="CoordinatorModel.Email" class="col-md-7 form-control" placeholder="Email" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Phone">Phone: </label>
            <input type="text" @bind-value="CoordinatorModel.PhoneNumber" class="col-md-7 form-control" placeholder="Phone" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Description">Description: </label>
            <textarea class="col-md-7 col-form-label" rows="8" @bind="CoordinatorModel.Description" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Year">Year<i class="fa fa-asterisk fa-1x text-danger" data-toggle="tooltip" data-placement="right" title="Required field."></i>: </label>
            <select class="col-md-7" value="@yearid" @onchange="@(e =>YearChange(e))">
                @if (Years != null)
                {
                    @foreach (var option in Years)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="savebutton"><i class="fa fa-save bg whiteiconcolor"></i> Submit</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public CoordinatorItemViewModel CoordinatorModel { get; set; }

    [Parameter]
    public EventCallback HandleValidSubmit { get; set; }

    public IEnumerable<SelectListItem> Years { get; set; }

    public string yearid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Years = await sharedService.GetYears();

        if (CoordinatorModel.YearId == 0 && Years.Count() == 2)
        {
            CoordinatorModel.YearId = int.Parse(Years.Where(t => !string.IsNullOrEmpty(t.Value)).First().Value);
        }
        yearid = CoordinatorModel.YearId.HasValue ? CoordinatorModel.YearId.ToString() : string.Empty;
    }

    private void YearChange(ChangeEventArgs e)
    {
        string selectedString = e.Value.ToString();

        CoordinatorModel.YearId = 0;

        if (int.TryParse(selectedString, out int newyearid))
        {
            CoordinatorModel.YearId = newyearid;
        }
    }
}
