@using Syncfusion.Blazor.Buttons 
@inject NavigationManager NavigationManager
@inject ISiteService siteService
@inject ISharedService sharedService
@inject IAccountService accountService
@inject ServiceContext dbContext;

<EditForm Model="@SiteModel" OnValidSubmit="@HandleValidSubmit" enctype="multipart/form-data" class="form-horizontal">
    <div class="card-body">
        <DataAnnotationsValidator />
        <div class="text-danger"><ValidationSummary /></div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="SiteNumber">Site Number<i class="fa fa-asterisk fa-1x text-danger" data-toggle="tooltip" data-placement="right" title="Required field."></i>: </label>
            <input type="text" @bind-value="SiteModel.SiteNumber" class="col-md-7 form-control" placeholder="Site Number" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="TestSite">Test Site: </label>
            @*<input type="checkbox" @bind-value="SiteModel.IsTestSite" class="col-md-7 form-control" placeholder="Test Site" />*@
            @*<input type="checkbox" value="@SiteModel.IsTestSite" @onchange="@(e =>CheckTestSiteChange(e))" class="col-md-7 form-control" />*@
            <SfCheckBox ID="TestSite" CssClass="handle-text" @bind-Checked="@SiteModel.IsTestSite" @onchange="@((ev) => CheckTestSiteChange(ev))" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="SiteName">Site Name: </label>
            <input type="text" @bind-value="SiteModel.SiteName" class="col-md-7 form-control" placeholder="Name" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Description">Description: </label>
            <textarea class="col-md-7 col-form-label" rows="8" @bind="SiteModel.Description" />
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Coordinate">Coordinator: </label>
            <select class="col-md-7" value="@coordinateid" @onchange="@(e =>CoordinateChange(e))">
                @if (Coordinates != null)
                {
                    @foreach (var option in Coordinates)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                }
            </select>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Year">Year<i class="fa fa-asterisk fa-1x text-danger" data-toggle="tooltip" data-placement="right" title="Required field."></i>: </label>
            <select class="col-md-7" value="@yearid" @onchange="@(e =>YearChange(e))">
                @if (Years != null)
                {
                    @foreach (var option in Years)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success"><i class="fa fa-save bg whiteiconcolor"></i> Save</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public SiteItemViewModel SiteModel { get; set; }

    [Parameter]
    public EventCallback HandleValidSubmit { get; set; }

    public IEnumerable<SelectListItem> Coordinates { get; set; }

    public string coordinateid { get; set; }

    public IEnumerable<SelectListItem> Years { get; set; }

    public string yearid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Coordinates = await sharedService.GetCoordinators();
        coordinateid = SiteModel.CoordinatorId.ToString();

        Years = await sharedService.GetYears();

        if (SiteModel.YearId == 0 && Years.Count() == 2)
        {
            SiteModel.YearId = int.Parse(Years.Where(t => !string.IsNullOrEmpty(t.Value)).First().Value);
        }
        yearid = SiteModel.YearId.HasValue ? SiteModel.YearId.ToString() : string.Empty;
    }

    private void CoordinateChange(ChangeEventArgs e)
    {
        string selectedString = e.Value.ToString();

        SiteModel.CoordinatorId = 0;

        if (int.TryParse(selectedString, out int newcoordinatorid))
        {
            SiteModel.CoordinatorId = newcoordinatorid;
        }
    }

    private void YearChange(ChangeEventArgs e)
    {
        string selectedString = e.Value.ToString();

        SiteModel.YearId = 0;

        if (int.TryParse(selectedString, out int newyearid))
        {
            SiteModel.YearId = newyearid;
        }
    }    

    private void CheckTestSiteChange(ChangeEventArgs e)
    {
        string selectedString = e.Value.ToString();

        SiteModel.IsTestSite = false;

        if (bool.TryParse(selectedString, out bool value))
        {
            SiteModel.IsTestSite = value;
        }
    }
}
