@inject ISharedService sharedService;

<div class="simple-form" style="width:350px;">
    <p><img src="./images/auth-lock.png" style="width:30px;" />@((MarkupString)@Message)</p> <br />
    <button @onclick="@ConfirmYes" class="btn btn-primary">@Translate("Lock")</button>
    <button @onclick="@Cancel" class="btn btn-secondary">@Translate("Cancel")</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter]
    public string Message { get; set; }

    async Task ConfirmYes() => await ModalInstance.CloseAsync(ModalResult.Ok($"Confirmed"));
    //async Task ConfirmYes() => await ModalService.CloseAsync(ModalResult.Ok(true));

    async Task Cancel() => await ModalInstance.CancelAsync();

    private string Translate(string word)
    {
        return sharedService.GetTranslate(word);
    }
}
