@using static EDI.Web.Data.Enumerations
@using Syncfusion.Blazor.Navigations

@inject ISharedService sharedService;
@inject ServiceContext dbContext;
@inject UserSettings UserSettings;
@inject NavigationManager NavigationManager;

@foreach (var config in configs)
{
    //if (CurrentGroup != config.GroupName)
    //{
    // get the current group
    CurrentGroup = config.GroupName;

    if (config.IsHeader)
    {
        // get the header text
        _Text = sharedService.GetConfigText(config);

        // process the header type
        switch ((InputTypes)config.InputTypeId)
        {
            case InputTypes.Header:
                var _label = "";
                //NavigationManager.Uri.Contains
                if (config.EntityName.Contains("TeacherProfile"))
                    // show the teacher name on the teacher profile
                    _label = teacherData.TeacherName;
                else
                {
                    var _gender = string.Empty;
                    // show the child EDI ID
                    if (teacherData.Children.Single().Gender != null)
                    {
                        _gender = teacherData.Children.Single().Gender.English;
                    }

                    _label = string.Format("{0} - {1:yyyy-MM-dd} - ({2})", teacherData.Children.Single().Ediid.ToString(), teacherData.Children.Single().Dob, _gender);
                }
                @((MarkupString)string.Format("<strong>{0}</strong>: {1}", _Text, _label));
                break;
            case InputTypes.GroupHeader:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) craft the Group Header<br />_Text</p>
                </div>
                break;
            case InputTypes.QuestionHeader:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) craft the Question Header<br />_Text</p>
                </div>
                break;
            default:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) is not a header</p>
                </div>
                break;
        }
    }
    else
    {
        // bind to value from demographic_data

        switch ((InputTypes)config.InputTypeId)
        {
            case InputTypes.RadioButtons:
                @*<RadioButtonsPart Config=@config data=@teacherData teacherModel="@teacherModel" CurrentValue=1></RadioButtonsPart>*@
                <RadioPart Config="@config" data="@teacherData"></RadioPart>
                break;
            case InputTypes.DatePicker:
                <DatePickerPart Config=@config CurrentValue=@(new DateTime(2011, 01, 18))></DatePickerPart>
                break;
            case InputTypes.TextBox:
                <TextPart Config=@config data=@teacherData></TextPart>
                break;
            case InputTypes.SelectBox:
                <SelectPart Config="@config" data="@teacherData"></SelectPart>
                break;
            case InputTypes.RadioMatrix:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) needs to be crafted<br />@sharedService.GetConfigText(config)</p>
                </div>
                break;
            case InputTypes.NumberBox:
                <NumberBox Config=@config data="@teacherData"></NumberBox>
                break;
            case InputTypes.NumberBoxDouble:
                <NumberBoxDouble Config=@config data="@teacherData"></NumberBoxDouble>
                break;
            case InputTypes.CheckBox:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) needs to be crafted</p>
                </div>
                break;
            default:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) needs to be crafted<br />@sharedService.GetConfigText(config)</p>
                </div>
                break;
        }

        // check to see if last config
        if (configs.IndexOf(config) != configs.Count - 1)
        {
            <hr />
        }
    }
}

@code {
    [Parameter]
    public List<QuestionnairesConfiguration> configs { get; set; }

    [Parameter]
    public Teacher teacherData { get; set; }
    //[Parameter]
    //public TeacherProfileItemViewModel teacherModel { get; set; }

    [Parameter]
    public bool IsReadonly { get; set; }

    private string _Text;
    private string CurrentGroup = "";

    protected override async Task OnInitializedAsync()
    {
    }
}
