@inherits QuestionnaireBase;
@using Syncfusion.Blazor.Buttons;
@using Newtonsoft.Json;
@using static EDI.Web.Data.Enumerations;
@inject ISharedService sharedService;
@inject IReflectionService reflectionService;
@inject ServiceContext dbContext;
@inject UserSettings _userSettings; 
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;


<div class="row @ValidationCss">
    <h4>@((MarkupString)QuestionText)</h4>
</div>
<div class="row @ValidationCss">
    <div class="col-1">
       @if (Valid==true)
        {
        <i class="far fa-check-circle" style="font-size:50px;color:darkgreen"></i>
        }
        else if (Valid==false)
        {
        <i class="far fa-times-circle" style="font-size:50px;color:darkred"></i>
        }
    </div>
    <div class="col-9">
        @foreach (var option in _LookupSetOptions)
        {
            @*<div class="form-check">
                @{
                    bool ischecked = false;

                    @if (@currentValue == @option.Value.ToString())
                    {
                        ischecked = true;
                    }

                    <input class="form-check-input" type="radio" disabled="@ReadonlyQuestion" name="@Config.EntityField" checked="@ischecked" value="@option.Value.ToString()" @onchange="@onChange" data-toggle="tooltip" data-placement="bottom" title="@sharedService.GetOptionText(option)">

                }
            <label class="form-check-label" style="font-size: @LabelFonts;">
                @if (RadioLabels)
                {
                    @sharedService.GetOptionText(option)
                }
            </label>
            </div>*@
            <SfRadioButton @bind-Checked="currentValue" Disabled="@ReadonlyQuestion" @onchange="@onChange" Name="@Config.EntityField" Label=@sharedService.GetOptionText(option) Value="@option.Value.ToString()"></SfRadioButton>

            if ((Orientations)Config.OrientationId == Orientations.Vertical && _LookupSetOptions.IndexOf(option) != _LookupSetOptions.Count - 1)
            {
                <br />
            }
        }
    </div>

    <div class="col-2">
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <button type="button" class="btn btn-primary btn-sm" @onclick="@gotoURL"><i class="icon-settings"></i> Configure</button>
                @if (Config.HasHelp)
                {
                    <button type="button" class="btn btn-primary btn-sm" @onclick="@(() => ShowModal("e-EDI Help", HelpTextEnglish))"><i class="icon-question"></i> Help</button>
                }
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Teacher">
            <Authorized>
                @if (Config.HasHelp)
                {
                    <button type="button" class="btn btn-primary" @onclick="@(() => ShowModal("e-EDI Help",HelpTextEnglish))"><i class="icon-question"></i> Help</button>
                }
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code
{

    // option set
    private List<LookupSetOption> _LookupSetOptions;

    private string currentValue { get; set; }

    private Boolean RadioLabels { get; set; } = true;

    private string LabelFonts { get; set; }



    protected override async Task OnInitializedAsync()
    {
        // get the question and help text
        GetQuestionText();
        // check to see if question is readonly
        ReadonlyQuestion = Config.IsReadOnly;
        IsRequired = Config.IsRequired;
        // Get the current value of the question
        currentValue = reflectionService.GetFieldValue(data, Config.EntityName, Config.EntityField);

        if (Config.HasLookupEntity)
        {
            // get the lookupset options
            _LookupSetOptions = GetLookupSetOptions(Config.LookupEntityId.GetValueOrDefault(1));
        }
        RadioLabels = _userSettings.RadioLabels.HasValue ? _userSettings.RadioLabels.Value : false;
        LabelFonts = _userSettings.LabelFonts;
        if (String.IsNullOrEmpty(LabelFonts))
            LabelFonts = "1em";


        Validation(currentValue);

        //if(Config.IsRequired)
        //    reflectionService.SetFieldValue(data, Config.EntityName, "RequiredQuestions", e.Value.ToString());
        //string RequiredQuestions = reflectionService.GetFieldValue(data, Config.EntityName, "RequiredQuestions");
        //string CompletedQuestions = reflectionService.GetFieldValue(data, Config.EntityName, "CompletedQuestions");
        //CompletionCheck(reqQuestions, );
    }

    public async void onChange(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        // save the data back to the object
        // JsonConvert.SerializeObject(data, Formatting.Indented,

        var previousValue = reflectionService.GetFieldValue(data, Config.EntityName, Config.EntityField);
        reflectionService.SetFieldValue(data, Config.EntityName, Config.EntityField, e.Value.ToString());
        if (_userSettings.UseJSON)
        {
            string teacherJson = JsonConvert.SerializeObject(data, Formatting.Indented, new JsonSerializerSettings
            {
                ReferenceLoopHandling = ReferenceLoopHandling.Ignore
            });
            await sessionStorage.SetItemAsync<string>("Teacher", teacherJson);
        }
        CompletedQuestion(previousValue.ToString(), e.Value.ToString());
        StateHasChanged();

    }
}

